{% extends 'base.html' %}

{% block title %}
Guichet unique ORMVAD formulaires librement téléchargeables
{% endblock %}

{% block content %}
  <section >
    <img src="/static/logo.jpeg" style="max-height: 300px;">
    <h1 style="text-align:center;margin: 20px;">Formulaires en libre accès</h1>
    <ul>
      <li><a href="/static/annexe_1.pdf">Demande d'approbation préalable</a></li>
      <li><a href="/static/annexe_2.pdf">Demande de l'aide financière de l'état</a></li>
    </ul>
  </section>
  {% endblock %}