{% extends 'base.html' %}

{% block title %}
Guichet unique ORMVAD HOME
{% endblock %}

{% block content %}
  <section >
    <img src="/static/logo.jpeg">
    <h1 style="text-align:center;margin: 20px;">ORMVAD: demandes en ligne</h1>
    <hr>
    <table>
      <thead>
        <tr>
          <th>Demandeur</th>
          <th>Date de demande</th>
          <th>État de la demande</th>
          <th>Désignation</th>
        </tr>
      </thead>
      <tbody>
          {% for demande in demandes %}
          <tr>
              <td>{{ demande.email }}</td>
              <td>{{ demande.date_demande }}</td>
              <td>{{ demande.etat }}</td>
              <td><a href="{{ url_for('dossier.edit_request', demande_id=demande.id) }}">{{ demande.designation }}</a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  </section>
{% endblock %}
