{% extends 'base.html' %}

{% block title %}
demande d'approbation préalable - régime d'agrégation
{% endblock %}

{% block content %}
<section >
  <img src="/static/logo.jpeg">
  <h1 style="text-align:center;margin: 20px;">Guichet unique ORMVAD demande d'approbation préalable - régime d'agrégation</h1>
  <form method="post" action="{{ url_for('main.create_request') }}" style="max-width: 600px; margin: 0 auto;">
    <fieldset>
      <legend>Role</legend>
      <label>
        Role (guichet ou technique ou admin):
        <input type="text" id="role" name="role" value="{{ role }}">
      </label>
    </fieldset>
    <button type="submit" class="button is-primary">Enregistrer la demande</button>
</form>
</section>
{% endblock %}