{% extends 'base.html' %}

{% block title %}
Edition du profil d'un agent
{% endblock %}

{% block content %}
<section >
  <img src="/static/logo.jpeg">
  <h1 style="text-align:center;margin: 20px;">Edition du profil</h1>
  <form method="post" action="{{ url_for('auth.update_profile') }}" style="max-width: 600px; margin: 0 auto;">
    <fieldset>
      <legend>Role</legend>
      <label>
        Role (guichet ou technique ou admin):
        <input type="text" id="role" name="role" value="{{ role }}">
      </label>
    </fieldset>
    <fieldset>
      <legend>Changement de mot de passe</legend>
      <label>
        Ancien mot de passe:
        <input type="password" id="old_password" name="old_password">
      </label>
      <label>
        Nouveau mot de passe:
        <input type="password" id="new_password" name="new_password">
      </label>
      <label>
        Confirmez le nouveau mot de passe:
        <input type="password" id="confirm_password" name="confirm_password">
      </label>
    </fieldset>
    <button type="submit" class="button is-primary">Mettre à jour le profil</button>
</form>
</section>
{% endblock %}
